a {
  color: #00B7FF;
}

input.form-control{
	outline-color: #d9534f;
    margin: 5px 0;
}

.input-group {
    margin: 10px auto;
}

.row {
    margin: 0;
}

.btn {
    margin: 5px;
}

.page-header {
    border: 0;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.comment {
    min-height: 50px;
} 
    

.postDescription {
    margin: 20px 0;   
}

.header-title {
  margin-top: 25px;
}