<div class="page-header">
<div class="row">
<div class="col-md-2">
<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://www.epsi-ligue.com/images/96-epsi.png&sa=X&ei=VgBCVcXFMIaVaqm0gKgJ&ved=0CAkQ8wc&usg=AFQjCNEB_MvGHXWT0PsIPpnZRWGkkDsvEA" alt="Aucune image" width="130" height="130" />
</div>
            <div class="col-md-10 header-title">
			<h1>EPSI News</h1>
</div>
</div>
        </div>
        <input class="form-control" placeholder="rechercher un article" type="text" ng-model="search" />
        <div ng-repeat="post in posts | filter: {title : search} |orderBy:'date':'reverse'">
            <div class="row">
                <div class="col-md-2">
                    <img src={{post.imgLink}} alt="Aucune image" width="130" height="130" />
                </div>
                <div class="col-md-10">
                    <h1><a ng-show="post.link" href="{{post.link}}">
          {{post.title}}:
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h1>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10 postDescription">
                    <p>{{post.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">{{post.date | date:'EEEE, MMMM d, y'}}</div>
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-thumbs-up test" ng-click="incrementUpvotes(post)"></span> {{post.upvotes}}
                </div>
                <div class="col-md-2">
                    <span>
                <a href="#/posts/{{post._id}}">Comments</a>
            </span>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Supprimer" class="btn btn-sm btn-primary" ng-click="deletePost(post)">
                </div>
            </div>
            <hr/>
        </div>
        <form ng-submit="addPost()" name="formulaire" style="margin-top:30px;">
            <h3>Ajouter un nouveau post</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Lien image de présentation" ng-model="imgLink"></input>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titre" ng-model="title" required=""></input>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Lien vers l'article" ng-model="link"></input>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Description courte de l'article" ng-model="description" required maxlength="80"></input>
                <span>{{description.length}}/80</span>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <!--<button data-ng-if = "formulaire.$invalid" class="btn btn-sm btn-danger">Post</button>-->